body {
    font-family: "TT Lakes", sans-serif;
}

.header__inner {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 88px;
    align-items: center;
    padding: 24px 16px;
    border-bottom: thin solid #D9FFF5;
    background-color: #FFFFFF;
}

.header-btn {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-size: cover;
}

.call-btn,
.chat-btn,
.profile-btn {
    display: none;
}

.header-btn:not(:last-of-type) {
    margin-right: 16px;
}

.header-logo {
    margin-right: auto;
}

.header-divider {
    width: 2px;
    height: 32px;
    margin: 0 20px;
    border:none;
    border-left: 2px solid #EAEAEA;
    border-radius: 1px;
}

.burger-menu-btn_icon {
    background-image: url("images/burger.svg");
}

.repair-btn_icon {
    background-image: url("images/repair.svg");
}

.checkstatus-btn_icon {
    background-image: url("images/checkstatus.svg");
}

.call-btn_icon {
    background-image: url("images/call.svg");
}
.chat-btn_icon {
    background-image: url("images/chat.svg");
}

.profile-btn_icon {
    background-image: url("images/profile.svg");
}

.main {
    background-color: #F8F8F8;
    padding-top: 20px;
}

.main-title {
    border: 3px solid transparent;
    border-left-color: #41F6D7;
    padding-left: 12px;
}

.title {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -0.6px;
    line-height: 40px;
}

.title-buttons {
    display: none;
}

.main-menu__list {
    margin-top: 24px;
    margin-left: 16px;
    display: flex;
    overflow: scroll;
}

.main-menu__item {
    flex-shrink: 0;
}

.main-menu__link {
    padding: 6px 15px;
    display: inline-block;
    border: 2px solid transparent;
    box-sizing: border-box;
    line-height: 1.5;
    color: #7E7E82;
}

.main-menu__link:focus,
.main-menu__link:hover {
    background-color: #FFFFFF;
    border-color: #41F6D7;
    border-radius: 6px;
}

.about-text {
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.about-text__paragraph {
    height: 90px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    font-size: 14px;
    width: 288px;
    overflow: hidden;
    margin-bottom: 16px;
    width: 100%;

}

.about-button {
    width: 132px;
    height: 24px;
    font-size: 16px;
    font-weight: medium;
    letter-spacing: -0.2px;
    background-color: #F8F8F8;
    border: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    background: url("images/expand.svg") no-repeat left center;
}

.about-image {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .header__inner {
        min-width: 768px;
    }

    .header-divider[hidden] {
        display: block;
    }

    .call-btn,
    .chat-btn,
    .profile-btn {
        display: block;
    }

    .main-title {
        padding-left: 24px;
        height: 40px;
    }

    .main-menu__list {
        margin-left: 24px;
    }

    .about {
        display: flex;
        height: 208px;
        margin: 30px 24px;
        gap: 48px;
    }

    .about-text {
        margin: 0;
        flex-basis: 50%;
    }

    .about-text__paragraph {
        width: 100%;
        min-height: 160px;
        line-height: 20px;
        overflow: hidden;
    }
   
    .about-image {
        flex-basis: 50%;
        width: 100%;
        height: auto;
        border-radius: 6%;
    }
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }

    .main {
        padding-top: 42px;
    }

    .main-title {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .title {
        margin-left: 30px;
        line-height: 40px;
        font-size: 28px;
        letter-spacing: -0.6px;

    }

    .title-buttons {
        display: flex;
        margin-right: 32px;
        gap: 32px;

    }

    .title-btn {
        width: 168px;
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        background-size: 40px;
    }

    .title-repair-btn_icon {
        background: url("images/repair.svg") no-repeat right;
    }

    .title-checkstatus-btn_icon {
        background: url("images/checkstatus.svg") no-repeat right;
    }

    .btn-label {
        line-height: 24px;
        font-size: 16px;
        letter-spacing: -0.2px;
    }

    .main-menu__list {
        width: 1063px;
        max-height: 82px;
        margin-left: 33px;
        margin-top: 8px;
        flex-wrap: wrap;
        overflow: visable;
    }

    .main-menu__link {
        line-height: 24px;
        font-size: 16px;
        letter-spacing: -0.2px;
    }

    .about {
        margin-top: 7px;
        margin-left: 35px;
    }

    .about-text {
        padding-top: 9px;
    }


    .about-image {
        border-radius: 6%;
        width: 532px;
        height: 307px;
    }
}
